<div class="index">
  <div class="toppage">
    <div class="listwrapper">
      <% @lists.each do |list| %>
      <div class="list">
        <div class="list_header"><%= list.title %></div>
      </div>
      <% end %>
    </div>
  </div>
</div>