// Place all the styles related to the pi-scs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index {
  height: 100vh;
  width: 100vw;
}

.header_menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  background-color: #0073a8;
  height: 40px;
  align-items: center;
}

.user_name {
  text-decoration: none;
  color: #ffffff;
  opacity: 0.5;
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
  font-family: 'Kaushan Script', cursive;
}

.list_1 {
  text-decoration: none;
  color: #ffffff;
  opacity: 0.5;
  margin-right: 20px;
}

.user_logout {
  text-decoration: none;
  color: #ffffff;
  opacity: 0.5;
  margin-right: 10px;
}

.user_login {
  text-decoration: none;
  color: #ffffff;
  opacity: 0.5;
}

.user_sign_in {
  text-decoration: none;
  color: #ffffff;
  opacity: 0.5;
}


// ↑↑↑↑↑↑↑↑↑↑↑共通ヘッダー↑↑↑↑↑↑↑↑↑↑↑


.registration {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.acount {
  color: #777777;
  display: flex;
  justify-content: center;
}

.or {
  display: flex;
  justify-content: center;
}

.registration_login {
  text-decoration: none;
  display: flex;
  justify-content: center;
  color: #0095d9;
  border: solid 1px #ffffff;
  margin: 0 120px 0 120px;
  font-size: small;
}

.registration_login:hover {
  color: #89c3eb;
  border: solid 1px #0095d9;
  opacity: 0.5;
}

.field {
  margin-top: 20px;
}

.actions {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.sub_actions {
  color: #ffffff;
  background-color: #ffa500;
  border-style: none;
  border-radius: 10px;
  height: 30px;
  width: 150px;
}

.sub_actions:hover {
  opacity: 0.7;
  background-color: #ffd700;
}


// ↑↑↑↑↑↑↑↑↑↑↑新規登録↑↑↑↑↑↑↑↑↑↑↑

.sessions {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.session_sign_in {
  text-decoration: none;
  display: flex;
  justify-content: center;
  color: #0095d9;
  border: solid 1px #ffffff;
  margin: 0 120px 0 120px;
  font-size: small;
}

.session_sign_in:hover {
  color: #89c3eb;
  border: solid 1px #0095d9;
  opacity: 0.5;
}

// ↑↑↑↑↑↑↑↑↑↑↑ログイン↑↑↑↑↑↑↑↑↑↑↑

.container {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.listnew_h {
  color: #777777;
  margin-bottom: 10px;
}

.submitbtn {
  color: #ffffff;
  background-color: #ffa500;
  border-style: none;
  border-radius: 10px;
  height: 30px;
  width: 150px;
  margin-top: 15px;
}

.submitbtn:hover {
  opacity: 0.7;
  background-color: #ffd700;
}

.text_center {
  display: flex;
  justify-content: center;
}
